[Unit]
Description=Datacollector for the InfluxDB Monitor
After=network.target

[Service]
ExecStart=/usr/local/bin/monitor
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
